.green-background{
    background-color: green;
}
.blue-background{
    background-color: blue;
}
.grey-background{
    background-color: grey;
}
.red-background{
    background-color: red;
}
.yellow-background{
    background-color: yellow;
}